---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 23 Apr 2015 05:00:14 GMT
      Ml:
      - S
      Status:
      - 403 Forbidden
      X-Connection-Hash:
      - 2b565b8aa7ea185ca9ead4deae234437
      X-Response-Time:
      - '7'
      X-Transaction:
      - 6fb2c8c308500e14
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":99,"message":"Unable to verify your credentials","label":"authenticity_token_error"}]}'
  recorded_at: Thu, 23 Apr 2015 05:00:14 GMT
- request:
    method: post
    uri: https://t4tEpZScPXpY0aaprG1v33J6G:kOdqDrsC2sk1UydxWokdqGa8KWNKG1gYEXc4hdWZbIomjFj9Mc@api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 23 Apr 2015 05:06:44 GMT
      Ml:
      - S
      Status:
      - 200 OK
      X-Connection-Hash:
      - 96ce3360264a7bd5bd8783d3c9f9488e
      X-Response-Time:
      - '11'
      X-Transaction:
      - a120702edffdb0ca
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"bearer","access_token":"AAAAAAAAAAAAAAAAAAAAAKN3fQAAAAAAKqx11HE4KzmGU0P9Q9UlEyznl3M%3DkJh5xUAqMrp8bTLrzFzbCdNMK0kUyMoSahXLYTke7X6d3vFns4"}'
  recorded_at: Thu, 23 Apr 2015 05:06:44 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=loquie
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAKN3fQAAAAAAKqx11HE4KzmGU0P9Q9UlEyznl3M%3DkJh5xUAqMrp8bTLrzFzbCdNMK0kUyMoSahXLYTke7X6d3vFns4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 23 Apr 2015 05:06:44 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - f13a9c2099fa8a084c9d8d461bf6f3db
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1429766504'
      X-Response-Time:
      - '25'
      X-Transaction:
      - 1b3fba0b513b82b7
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"id":18209400,"id_str":"18209400","name":"Brent","screen_name":"loquie","location":"Silicon
        Valley, CA","profile_location":null,"description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":20,"friends_count":15,"listed_count":0,"created_at":"Thu
        Dec 18 05:08:30 +0000 2008","favourites_count":0,"utc_offset":-25200,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":13,"lang":"en","status":{"created_at":"Fri
        Feb 13 19:36:49 +0000 2015","id":566320105890402304,"id_str":"566320105890402304","text":"@ChooseMuse
        I''d love to #MuseTogether with my 102 year old grandfather.  Teaching him
        new ways of working out his brain. :)","source":"\u003ca href=\"http:\/\/twitter.com\"
        rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":65492831,"in_reply_to_user_id_str":"65492831","in_reply_to_screen_name":"ChooseMuse","geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":2,"entities":{"hashtags":[{"text":"MuseTogether","indices":[24,37]}],"symbols":[],"user_mentions":[{"screen_name":"ChooseMuse","name":"Muse
        ","id":65492831,"id_str":"65492831","indices":[0,11]}],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/81671126\/me_climbing_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/81671126\/me_climbing_normal.jpeg","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null}'
  recorded_at: Thu, 23 Apr 2015 05:06:44 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=50&screen_name=loquie
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAKN3fQAAAAAAKqx11HE4KzmGU0P9Q9UlEyznl3M%3DkJh5xUAqMrp8bTLrzFzbCdNMK0kUyMoSahXLYTke7X6d3vFns4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - a[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/list.json?cursor=-1&screen_name=loquie
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAKN3fQAAAAAAKqx11HE4KzmGU0P9Q9UlEyznl3M%3DkJh5xUAqMrp8bTLrzFzbCdNMK0kUyMoSahXLYTke7X6d3vFns4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 25 Apr 2015 05:54:31 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 637cacd02eeabfbab02a48608139bcd2
      X-Rate-Limit-Limit:
      - '30'
      X-Rate-Limit-Remaining:
      - '29'
      X-Rate-Limit-Reset:
      - '1429942171'
      X-Response-Time:
      - '339'
      X-Transaction:
      - 49ac9850835a26a9
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":2763461270,"id_str":"2763461270","name":"unofficially
        not you","screen_name":"notmyissue23","location":"Utah ","profile_location":null,"description":"","url":null,"entities":{"description":{"urls":[]}},"protected":true,"followers_count":0,"friends_count":106,"listed_count":0,"created_at":"Sun
        Aug 24 18:29:29 +0000 2014","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":0,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_3_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_3_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":true,"following":null,"follow_request_sent":null,"notifications":null,"muting":null,"blocking":null,"blocked_by":null},{"id":65492831,"id_str":"65492831","name":"Muse
        ","screen_name":"ChooseMuse","location":"Toronto, ON","profile_location":null,"description":"Leading
        innovators in brain computer interface technology. Believers in the power
        of brain fitness. We love hearing and sharing great experiences with Muse!","url":"http:\/\/t.co\/zZ1PsekP1t","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/zZ1PsekP1t","expanded_url":"http:\/\/www.choosemuse.com","display_url":"choosemuse.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":8771,"friends_count":1080,"listed_count":411,"created_at":"Thu
        Aug 13 22:55:25 +0000 2009","favourites_count":4101,"utc_offset":-14400,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":4782,"lang":"en","status":{"created_at":"Fri
        Apr 24 17:32:04 +0000 2015","id":591655863250739200,"id_str":"591655863250739200","text":"Love
        it! RT @OlsonCanada: Moms who Muse. \"I see Teletubbies.\" @chooseMuse #motherTECHer
        http:\/\/t.co\/NZpM7aYd4l","source":"\u003ca href=\"http:\/\/www.hootsuite.com\"
        rel=\"nofollow\"\u003eHootsuite\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[{"text":"motherTECHer","indices":[74,87]}],"symbols":[],"user_mentions":[{"screen_name":"OlsonCanada","name":"Olson
        Canada","id":1625431734,"id_str":"1625431734","indices":[12,24]},{"screen_name":"ChooseMuse","name":"Muse
        ","id":65492831,"id_str":"65492831","indices":[62,73]}],"urls":[],"media":[{"id":591651439426064384,"id_str":"591651439426064384","indices":[88,110],"media_url":"http:\/\/pbs.twimg.com\/media\/CDX32XXW0AAsQ9f.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CDX32XXW0AAsQ9f.jpg","url":"http:\/\/t.co\/NZpM7aYd4l","display_url":"pic.twitter.com\/NZpM7aYd4l","expanded_url":"http:\/\/twitter.com\/OlsonCanada\/status\/591651439551852545\/photo\/1","type":"photo","sizes":{"large":{"w":1024,"h":1365,"resize":"fit"},"small":{"w":340,"h":453,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":600,"h":799,"resize":"fit"}},"source_status_id":591651439551852545,"source_status_id_str":"591651439551852545","source_user_id":1625431734,"source_user_id_str":"1625431734"}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/441653175859167232\/QXfgyseA_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/441653175859167232\/QXfgyseA_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/65492831\/1429286419","profile_link_color":"49C7F5","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"muting":null,"blocking":null,"blocked_by":null},{"id":22973912,"id_str":"22973912","name":"Jennifer
        Badgley","screen_name":"cavilleri[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=50&screen_name=notmyissue23
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAKN3fQAAAAAAKqx11HE4KzmGU0P9Q9UlEyznl3M%3DkJh5xUAqMrp8bTLrzFzbCdNMK0kUyMoSahXLYTke7X6d3vFns4
  response:
    status:
      code: 401
      message: Authorization Required
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 25 Apr 2015 05:54:31 GMT
      Status:
      - 401 Unauthorized
      Www-Authenticate:
      - OAuth realm="https://api.twitter.com"
      X-Access-Level:
      - read
      X-Connection-Hash:
      - f3db9c87fa4668de87c45fe595d7035f
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '299'
      X-Rate-Limit-Reset:
      - '1429942171'
      X-Response-Time:
      - '13'
      X-Transaction:
      - c2ee4b192fc47c94
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"request":"\/1.1\/statuses\/user_timeline.json","error":"Not authorized."}'
  recorded_at: Sat, 25 Apr 2015 05:54:31 GMT
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=50&screen_name=ChooseMuse
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAKN3fQAAAAAAKqx11HE4KzmGU0P9Q9UlEyznl3M%3DkJh5xUAqMrp8bTLrzFzbCdNMK0kUyMoSahXLYTke7X6d3vFns4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
     [...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=50&screen_name=cavilleri
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAKN3fQAAAAAAKqx11HE4KzmGU0P9Q9UlEyznl3M%3DkJh5xUAqMrp8bTLrzFzbCdNMK0kUyMoSahXLYTke7X6d3vFns4
  response:
    status:
      code: 401
      message: Authorization Required
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 25 Apr 2015 06:13:41 GMT
      Status:
      - 401 Unauthorized
      Www-Authenticate:
      - OAuth realm="https://api.twitter.com"
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 3f7b99c5e7ca322c3f0c6c546b101103
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '298'
      X-Rate-Limit-Reset:
      - '1429943321'
      X-Response-Time:
      - '14'
      X-Transaction:
      - cdeb4a9a485b5f59
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=50&screen_name=rmichalo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAKN3fQAAAAAAKqx11HE4KzmGU0P9Q9UlEyznl3M%3DkJh5xUAqMrp8bTLrzFzbCdNMK0kUyMoSahXLYTke7X6d3vFns4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      -[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=50&screen_name=yahirgonzalo1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAKN3fQAAAAAAKqx11HE4KzmGU0P9Q9UlEyznl3M%3DkJh5xUAqMrp8bTLrzFzbCdNMK0kUyMoSahXLYTke7X6d3vFns4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 25 Apr 2015 06:13:42 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - f86dcc993b2efac4b5c206f6df2e8439
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '296'
      X-Rate-Limit-Reset:
      - '1429943321'
      X-Response-Time:
      - '70'
      X-Transaction:
      - d2b4fa5901cdb0a0
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Thu Aug 22 01:12:54 +0000 2013","id":370352849089085441,"id_str":"370352849089085441","text":"@cleonardog10
        ola","source":"\u003ca href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter
        Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":94475724,"in_reply_to_user_id_str":"94475724","in_reply_to_screen_name":"cleonardog10","user":{"id":967219034,"id_str":"967219034","name":"yahir  gonzalo","screen_name":"yahirgonzalo1","location":"","profile_location":null,"description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":5,"friends_count":47,"listed_count":0,"created_at":"Sat
        Nov 24 02:29:09 +0000 2012","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":16,"lang":"es","contributors_enabled":false,"is_translator":false,"[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=50&screen_name=clement_osas
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAKN3fQAAAAAAKqx11HE4KzmGU0P9Q9UlEyznl3M%3DkJh5xUAqMrp8bTLrzFzbCdNMK0kUyMoSahXLYTke7X6d3vFns4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
   [...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=50&screen_name=vimmafiend
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAKN3fQAAAAAAKqx11HE4KzmGU0P9Q9UlEyznl3M%3DkJh5xUAqMrp8bTLrzFzbCdNMK0kUyMoSahXLYTke7X6d3vFns4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
     [...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=50&screen_name=spo0nman
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAKN3fQAAAAAAKqx11HE4KzmGU0P9Q9UlEyznl3M%3DkJh5xUAqMrp8bTLrzFzbCdNMK0kUyMoSahXLYTke7X6d3vFns4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      -[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=50&screen_name=gta5trailer
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAKN3fQAAAAAAKqx11HE4KzmGU0P9Q9UlEyznl3M%3DkJh5xUAqMrp8bTLrzFzbCdNMK0kUyMoSahXLYTke7X6d3vFns4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
    [...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=50&screen_name=MaozVegetarian
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAKN3fQAAAAAAKqx11HE4KzmGU0P9Q9UlEyznl3M%3DkJh5xUAqMrp8bTLrzFzbCdNMK0kUyMoSahXLYTke7X6d3vFns4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
 [...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=50&screen_name=Patrick_241
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAKN3fQAAAAAAKqx11HE4KzmGU0P9Q9UlEyznl3M%3DkJh5xUAqMrp8bTLrzFzbCdNMK0kUyMoSahXLYTke7X6d3vFns4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Len