---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 23 Apr 2015 05:00:14 GMT
      Ml:
      - S
      Status:
      - 403 Forbidden
      X-Connection-Hash:
      - 2b565b8aa7ea185ca9ead4deae234437
      X-Response-Time:
      - '7'
      X-Transaction:
      - 6fb2c8c308500e14
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":99,"message":"Unable to verify your credentials","label":"authenticity_token_error"}]}'
  recorded_at: Thu, 23 Apr 2015 05:00:14 GMT
- request:
    method: post
    uri: https://t4tEpZScPXpY0aaprG1v33J6G:kOdqDrsC2sk1UydxWokdqGa8KWNKG1gYEXc4hdWZbIomjFj9Mc@api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 23 Apr 2015 05:06:44 GMT
      Ml:
      - S
      Status:
      - 200 OK
      X-Connection-Hash:
      - 96ce3360264a7bd5bd8783d3c9f9488e
      X-Response-Time:
      - '11'
      X-Transaction:
      - a120702edffdb0ca
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"bearer","access_token":"AAAAAAAAAAAAAAAAAAAAAKN3fQAAAAAAKqx11HE4KzmGU0P9Q9UlEyznl3M%3DkJh5xUAqMrp8bTLrzFzbCdNMK0kUyMoSahXLYTke7X6d3vFns4"}'
  recorded_at: Thu, 23 Apr 2015 05:06:44 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=loquie
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAKN3fQAAAAAAKqx11HE4KzmGU0P9Q9UlEyznl3M%3DkJh5xUAqMrp8bTLrzFzbCdNMK0kUyMoSahXLYTke7X6d3vFns4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 23 Apr 2015 05:06:44 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - f13a9c2099fa8a084c9d8d461bf6f3db
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1429766504'
      X-Response-Time:
      - '25'
      X-Transaction:
      - 1b3fba0b513b82b7
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"id":18209400,"id_str":"18209400","name":"Brent","screen_name":"loquie","location":"Silicon
        Valley, CA","profile_location":null,"description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":20,"friends_count":15,"listed_count":0,"created_at":"Thu
        Dec 18 05:08:30 +0000 2008","favourites_count":0,"utc_offset":-25200,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":13,"lang":"en","status":{"created_at":"Fri
        Feb 13 19:36:49 +0000 2015","id":566320105890402304,"id_str":"566320105890402304","text":"@ChooseMuse
        I''d love to #MuseTogether with my 102 year old grandfather.  Teaching him
        new ways of working out his brain. :)","source":"\u003ca href=\"http:\/\/twitter.com\"
        rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":65492831,"in_reply_to_user_id_str":"65492831","in_reply_to_screen_name":"ChooseMuse","geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":2,"entities":{"hashtags":[{"text":"MuseTogether","indices":[24,37]}],"symbols":[],"user_mentions":[{"screen_name":"ChooseMuse","name":"Muse
        ","id":65492831,"id_str":"65492831","indices":[0,11]}],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/81671126\/me_climbing_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/81671126\/me_climbing_normal.jpeg","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null}'
  recorded_at: Thu, 23 Apr 2015 05:06:44 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=50&screen_name=loquie
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAKN3fQAAAAAAKqx11HE4KzmGU0P9Q9UlEyznl3M%3DkJh5xUAqMrp8bTLrzFzbCdNMK0kUyMoSahXLYTke7X6d3vFns4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - a[...]
